name: DAST - OWASP ZAP Baseline

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  zap_baseline:
    runs-on: ubuntu-latest

    steps:
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: "https://flowwork-staging.exemplo.com"
          cmd_options: "-a"
